{% load i18n %}
{% load account %}

{% user_display user as user_display %}
<p><strong>{% trans "Catatan" %}:</strong> {% blocktrans %}Anda sudah login sebagai User {{ user_display }}.{% endblocktrans %}</p>
