{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1 style="margin-top:3%;margin-left:0.5%;text-orientation:left;"> {% trans "Password Change Selesai" %}</h1>
    <p style="margin-bottom:28%;margin-left:2%"> {% trans 'Password Anda berhasil diubah.' %}</p>
{% endblock %}
