{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Ubah Password" %}{% endblock %}

{% block content %}
    <h1 style="margin-top:2%;">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Ubah Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}Link untuk reset password invalid mungkin karena sudah digunakan. Mintalah <a href="{{ passwd_reset_url }}">reset password yang baru</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'ubah password' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Password Anda berubah.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
