{% extends "base.html" %}

{% block head_title %} {% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1 style="margin-top:3%;margin-left:0.5%;text-orientation:left;"> {% trans "Ubah Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Ubah Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Lupa Password?" %}</a>
    </form>
{% endblock %}
