{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="title">Mencari Username Lain</h1>
<div id style="margin-left:50px;">
  <h1 id ="theTitle">Mencari Username di Website Ini</h1>
<p> Username akun ini adalah {{user.username}} .</p>

<p>Halaman ini bisa digunakan untuk mencari username</p>

<input style="width: 300px;" id="keyword" placeholder = "Masukkan username yang ingin dicari">
<div id="stb">
  
</div>

<p></p>

</div>

 {% block script %} 
    <script src="https://kit.fontawesome.com/a48052e337.js" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        var delayInMilliseconds = 300;
       $("#keyword").keyup( function() {
        var my_keyword = $("#keyword").val();
        var called_url = '/searchusername?q=' + my_keyword;
        setTimeout(function() {
           $.ajax({
          url: called_url, success: function(stb) {
        console.log(stb)
        var received_object = $("#stb");
        received_object.empty();
        received_object.append( '<p> <style="margin-left:100px;"> Daftar </p>');
         for (i = 0; i < stb.length; i++) {
          var usr_name = stb[i].username;
          received_object.append('<br>' + (i + 1).toString() + '. ' + usr_name + '</br>');
        }
      }
    })}, delayInMilliseconds)
      
  })
          $("#theTitle").mouseover(function(){
          $(this).css("color","red")
        });

        $("#theTitle").mouseout(function(){
          $(this).css("color","black")
        });
}
);
</script>

{% endblock %}

{% endblock %}