<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
      <title>Bye-Covid19!</title>
  </head>
  <body>
    <h1>Hello World :)</h1>
  </body>
</html>

<!-- {% extends 'base.html' %}
{% load static %}

{% block title %} Bye-Covid! {% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container pt-5">
     
            <label for=""><h3>Search</h3></label>
            <div class="row">
                <div class="col-12 col-md-7">
                    <input type="text" id="input" name="input" placeholder="Cari Produk" style="height: 5vh; font-size: 1em; width:100%;"></input>
                </div>
                <div class="col-12 col-md-2 mt-3 mt-md-0">
                    <button type="submit" name="submit" class="btn btn-primary w-100" id="submit">Cari</button>  
                </div>
            </div>
    </div>
</div>

<table id="demo" class= "table table-borderless" style="font-family: 'Work sans', sans-serif; color: #444; ">
    <thead>
        <tr>
            <th scope="col" class="align-middle">nama</th>
            <th scope="col" class="align-middle">harga</th>
            <th scope="col" class="align-middle">jenis</th>
            <th scope="col" class="align-middle">stok</th>
            <th scope="col" class="align-middle">gambar</th>
        </tr>
    </thead>
    <tbody id="isi"></tbody>
    
</table>

    </div>
</div>  
{% endblock content %}
{% block js %}
<script src="{% static 'cari.js' %}"></script>
{% endblock %} -->