{% extends 'base.html' %} {% load static %} 

{% block content %}
<body>
<link rel="stylesheet" href="{% static 'kritik.css' %}">
<section id="kritik-saran">
    <div class="row" style="margin-left: 20px;">
        <div class="col-md">
            <div class=" col-mw ">
                <h3 class="critic" style="padding-top: 3cm;">Kritik dan saran untuk website kami</h3>
                <form action='' method="POST" id="Kritik2Form">
                    {% csrf_token %} {{ form.message.label_tag }} {{ form.message }}
                    <br>
                    <button type="button" class="tombol" id="submitBtn">kritik & saran</button>
                </form>
            </div>
        </div>
        <div class="col-md flex-row" style="max-height: 300px;">
            <div id="middleSection" style="margin-bottom: 30px;">
                <div class="ui search" style="padding-right: 10px;">
                    <div class="ui icon input" style="padding-top: 3cm; padding-left: 3cm;" >
                        <input id="input-name" class="prompt" type="text" placeholder="user">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
            <div id="message" class="col-md flex-row" style="max-height: 300px; overflow-y: scroll;"> 
                {% for object in data %} {% csrf_token %}
                <div class="card b-green mb-2 w-100">
                    <h3>
                        {{ object.name }}
                    </h3>
                    <p>
                        {{ object.message }}
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
 <script src="{% static 'kritik.js' %}"></script>

</body>


{% endblock %}
