{% extends 'base.html' %}
{% load static %}

{% block title %} Bye-Covid! {% endblock %}
{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'covid2.jpg' %}" class="d-block w-100" style="width: 700px; height: 600px;">
        </div>
        <div class="carousel-item">
            <img src="{% static 'covid3.png' %}" class="d-block w-100" style="width: 700px; height: 600px">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br><br>

<div class="container-fluid">

    <div class="container-fluid">
        <div style="text-align: center; font-weight: bolder; font-size: x-large;">
            C A T E G O R Y<br>
        </div>
        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
            </div>
            
        </div>

        <br><br>

        <div class="row">
            <div class="col-sm-4">
                <a href="/apd/">
                    <img src="{% static 'image0.png' %}" class="kategori" style="width: 200px; height: 200px;">
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/handsanitizer/">
                    <img src="{% static 'image1.png' %}" class="kategori" style="width: 200px; height: 200px;">
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/masker/">
                    <img src="{% static 'image2.png' %}" class="kategori" style="width: 200px; height: 200px;">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4" style="text-align: justify; padding-left: 2.5cm; font-weight: bold;"> APD </div>
            <div class="col-sm-4" style="text-align: justify; padding-left: 2.2cm; font-weight: bold;"> Hand Sanitizer </div>
            <div class="col-sm-4" style="text-align: justify; padding-left: 2.2cm; font-weight: bold;"> Masker </div>
        </div> 
    </div>

</div>

<br><br><br>

<!-- <div class="jumbotron jumbotron-fluid j1">
    <div class="container">
    </div>
</div> -->

<br><br><br>


{% endblock %}