{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="title">Log In</h1>
{% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}

    {% else %}
<form style="margin-bottom:1%;" action="" method="POST">
    {% csrf_token %}
    <p>Username: </p><input type="text" name="username">
    <p>Password: </p><input type="password" name="password">
    <button class="submit" type="submit">Login</button>
</form>
<p>Lupa password Anda?  <a href="/accounts/password/reset">Reset di sini</a> </p>
<p>Tidak punya akun? <a href="/signup">Buat akun baru</a></p> 
{% endif %}

{% endblock %}
