{% extends 'base.html' %}
{% load static %}

{% block title %} Bye-Covid! {% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="container-fluid padding top-hand">
    <h1 class="title" style="padding-top: 5%; color: black;">don't forget<br>to use your masker.</h1>
</div>

<!-- <div class="container-fluid padding mid">
    <div class="row text-center padding">
        <div class="col-sm-6">
            <img src="{% static 'hand1.jpg' %}" alt="HandSanitizer" class="hand-sanitizer" width="400" height="400" style="text-align: left;">
        </div>
        <div class="col-sm-6 definition">
            <h3>Glint Hand Sanitizer</h3>
        </div>
    </div>
</div> -->
<!-- yang bawah gabisa tampil masa -->
<div class="container-fluid padding mid">
    <div class="row text-center" id="product">
        {% for i in masker_list %}
        <div class="col-sm-6 col-md-4 boxdown">
            <a href="/product/{{i.id}}">
                <img src={{i.gambar}} alt="masker" class="expad" width= "400" height="400">
                    <!-- <div class="hover-overlay"></div>
                    <div class="hover-2-content px-5 py-4"> -->
                        <h3>{{i.nama}}</h3>
                        <p>Rp{{i.harga}}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
       
    </div>
     
</div>
{% else %}
    <h3 style="text-align: center; padding-top: 2cm;">Maaf, anda harus login terlebih dahulu</h3>
    {% endif %}
{% endblock %}