{% load static %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #C4C4C4;">
  <a class="navbar-brand" href="/">
    <img src="{% static 'logo.png' %}" width="45" height="45" alt="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav text-center" style="margin-left: 40%; margin-right: 30%;">
      <!-- <li class="nav-item">
        <a class="nav-link" href="/category/"><b>Category.</b></a>
      </li> -->
    </ul>
    <ul class="navbar-nav ml-auto text-center">
      <li class="nav-item">
          {% if user.is_authenticated %}
          <a class="nav-link" href="/cariusername/" style="text-transform: capitalize;"> Hello, {{ user.username}} </a>

            <a class="btn btn-outline-dark mx-auto" href="/logout" id='logout' style="width: 300px;">Logout</a>
            <br><br>
          {% else %}
                  <a class="nav-link" href="/login/" style="text-transform: capitalize;">
            Login </a>
          {% endif %}
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/transaction/"><img src="{% static 'shopping-cart.png' %}" width="30" height="30"
            alt="shopping-cart"></a>
      </li>
    </ul>
  </div>
</nav>
<br><br>