{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} Transaction History {% endblock %}

{% block content %}
<br><br><br>
{% if user.is_authenticated %}
<div class="jumbotron jumbotron-fluid j1">
    <div class="container text-center" style="color: white;">
        <h3>Our History</h3>
    </div>
</div>

<br><br><br>

    <div class="album py-5">
        <div class="container">
            <div class="row infinite-container">
                {% for transaction in transactions %}
                    <div class="col-md-6 infinite-item">
                        <div class="card mb-4 shadow-sm">
                            <img src="{{ transaction.produk.gambar }}" class="sepatu1">
                            <div class="col-7 detail">
                                <div class="text-center"><strong>Order Details</strong></div>
                                <div>Name : {{ transaction.produk }}</div>
                                <div>Order ID : {{ transaction.orderId }}</div>
                                <div>Customer : {{ transaction.customer }}</div>
                                <div>Total Price : Rp. {{ transaction.produk.harga|intcomma }},-</div>
                                <div>Transaction Date : {{ transaction.transDate }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
            {% endif %}
            <div class="d-flex justify-content-center" style="display:none;">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    
    
    <script src="/static/js/jquery-2.2.4.min.js"></script>
    <script src="/static/js/jquery.waypoints.min.js"></script>
    <script src="/static/js/infinite.min.js"></script>
    <script>
    var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    handler: function(direction) {
    
    },
    offset: 'bottom-in-view',
    onBeforePageLoad: function () {
    $('.spinner-border').show();
    },
    onAfterPageLoad: function () {
    $('.spinner-border').hide();
    }
    
    });
    
    </script>


{% else %}
    <h3 style="text-align: center;">Maaf, anda harus login terlebih dahulu</h3>
{% endif %}


</div>
{% endblock %}
	