@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;800&display");


body {
    background: #E5E5E5;
    font-family: 'poppins', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    margin-right: 0;
}

#message{
    width: 80%;
    font-family: 'poppins', sans-serif;

}

#kritik-saran {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
}


#Kritik2Form{
    border-radius: 30%;
}
